<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<WindowsApplication1.Properties.Settings>
		<setting name="level" serializeAs="String">
			<value>0</value>
		</setting>
		<setting name="sound" serializeAs="String">
			<value>1</value>
		</setting>
	</WindowsApplication1.Properties.Settings>
</configuration>